@media screen and(min-width: 321px) {
  #h1 {
    font-size: 5px;
  }
}
.main {
  display: flex;
  background-color: red;
}
.main > div {
  background-color: white;
  margin: 10px;
  font-size: 35px;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
